body {
	font-size: 0.875rem;
	color: #fff;
	background-color: var(--dk-black);
}

.feather {
	width: 16px;
	height: 16px;
}

input {
	background-color: var(--lt-black);
	border: 0;
	border-radius: 2px;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: var(--dk-green);
	border-radius: 30px;
}

.navbar-search {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	position: absolute;
	margin-left: 25vw;
	width: 50vw;
	background-color: var(--lt-black);
	border-radius: 15px;
}