:root {
	--dk-green: #2A4F41FF;
	--my-white: #F8FCFCFF;
	--lt-black: #2b2d31FF;
	--dk-black: #131416FF;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@font-face {
	font-family: "FiraSansCondensed";
	src: local("FiraSansCondensed"), url(./assets/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf) format("truetype");
}


.feather {
/*	width: 24px;
	height: 24px;*/
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
