:root {
	--dk-green: #2A4F41FF;
	--my-white: #F8FCFCFF;
	--lt-black: #2b2d31FF;
	--dk-black: #131416FF;
	--grey: #A9B2ACFF;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.feather {
/*	width: 24px;
	height: 24px;*/
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}


.logo {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: var(--dk-green);
	border-radius: 30px;
	margin: auto;
	margin-top: 10vw;
}

/*
 * Login/Register bar
 */

.login-bar {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: var(--lt-black);
	border-radius: 5px;
	display: inline-block;
	border-width: 0cm;
}
