.posts-holder {
	background-color: #00000000;
    width: 75vw;
    height: auto;
    top: 8vh;
    margin-left: 12.5vw;
    flex-wrap: wrap;
    position: absolute;
}

.posts-more {
    background-color: var(--dk-green);
    width: 40vw;
    height: 5vh;
    margin-left: 17.5vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    border-width: 0px;
    font-size: 2vh;
    color: var(--my-white);
}

.posts-more:active{
	background-color: var(--grey);
}

.delete-post {
    background-color: #00000000;
    margin: 0vw;
    width: 5vw;
    margin-left: 3vw;
    margin-bottom: .7vh;
    border-width: 0px;
    padding: 0vw;
    font-size: 1vh;
    text-align: right;
    color: #851313FF;
}

.post-card {
	background-color: #00000000;
    width: 60vw;
    height: auto;
    margin-left: 7.5vw;
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
} 

.post-titleinfoandphoto {
	background-color: #00000000;
    width: 40vw;
    height: 70vh;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.post-titleandinfo {
	background-color: var(--lt-black);
    width: 40vw;
    height: 10vh;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.post-title {
	background-color: #00000000;
    width: 30vw;
    height: 10vh;
    padding-left: 1vw;
    border-radius: 10px 0px 0px 0px;
    font-size: 3vh;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.post-info {
	background-color: #00000000;
    width: 10vw;
    height: 10vh;
    margin: 0vw;
    font-size: 2vh;
    border-width: 0px;
    border-right: 2px var(--dk-black);
    border-style: solid;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.post-author {
	background-color: #00000000;
    text-decoration: underline;
    font-size: 2vh;
    display: flex;
    justify-content: right;
    padding-right: .2vw;
    color: var(--my-white);
}

.post-date {
	background-color: #00000000;
    text-decoration: none;
    font-size: 1.5vh;
    color: grey;
    padding-right: .2vw;
}

.post-photo-container {
	background-color: #000;
    background-size:cover;
    width: 40vw;
    height: 60vh;
    margin: 0vw;
    margin-top: 10vh;
    border-radius: 0px 0px 0px 0px;
    position: absolute;
} 

.post-photo {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 0px 0px 0px 10px;
    object-fit: contain;
} 

.post-commentsandlikes {
	background-color: var(--lt-black);
    width: 20vw;
    height: 70vh;
    border-radius: 0px 10px 10px 0px;
    margin: 0vw;
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
} 

.post-likesholder {
	background-color: var(--lt-black);
    width: 20vw;
    height: 10vh;
    border-radius: 0px 10px 0px 0px;
    border-width: 0;
    border-bottom: 2px var(--dk-black);
    border-style: solid;
    margin: 0vw;
    overflow-y: scroll;
    position: relative;
}

.like-element {
	background-color: var(--lt-black);
    border-radius: 5px;
    color: var(--my-white);
    margin: .1vw;
    position: relative;
    text-decoration: none;
    border: .15vw;
    border-color: var(--my-white);
    border-style: solid;
    font-size: 1.5vh;
}

.like-element-end {
	background-color: var(--dk-green);
    border-radius: 5px;
    color: var(--my-white);
    margin: .1vw;
    position: relative;
    text-decoration: none;
    font-size: 1.5vh;
    border-width: 0vw;
}

.like-element-end:active{
	background-color: var(--grey);
}

.button-holder {
    margin: 0vw;
    padding: 0vw;
}

button.post-like-button {
	background-color: var(--dk-green);
    margin: 0vw;
    width: 4vw;
    margin-left: 3vw;
    margin-bottom: .5vh;
    border-width: 0px;
    border-radius: 5px;
    padding: .2vw;
    font-size: 1.4vh;
    color: var(--my-white);
}

button.post-unlike-button {
	background-color: var(--dk-black);
    margin: 0vw;
    width: 4vw;
    margin-left: 3vw;
    margin-bottom: .5vh;
    border-width: 0px;
    border-radius: 5px;
    padding: .2vw;
    font-size: 1.4vh;
    color: var(--my-white);
}

.post-unlike-button:active{
	background-color: var(--grey);
}

.post-like-button:active{
	background-color: var(--grey);
}

.post-comments {
	background-color: var(--lt-black);
    width: 20vw;
    height: 43vh;
    margin: 0vw;
    margin-top: 10vh;
    overflow-y: scroll;
	position: absolute;
    float: none;
}

.post-comment {
	background-color: var(--dk-black);
    width: 18vw;
    border-radius: 5px;
    margin: 1vw;
    margin-bottom: 0vw;
    position: relative;
}

.comment-authoranddeleter {
    display: flex;
    justify-content: space-between;
}

.comment-author {
	color: var(--my-white);
    font-size: 1.5vh;
    padding-left: .1vw;
}

.comment-deleter {
	color: grey;
    background-color: #00000000;
    border-width: 0vw;
    font-size: 1.5vh;
}

.comment-content {
	color: var(--my-white);
    font-size: 1.5vh;
    padding-left: .1vw;
    text-indent: .2vw;
}

.comment-date {
	color: grey;
    font-size: 1.5vh;
    padding-right: .1vw;
    text-align: right;
}

.post-comments-end {
	background-color: var(--dk-green);
    border-radius: 5px;
    color: var(--my-white);
    margin: 1vw;
    width: 18vw;
    position: relative;
    text-decoration: none;
    font-size: 1.5vh;
    border-width: 0vw;
}

.post-comments-end:active{
	background-color: var(--grey);
}

textarea.post-comment-writer {
	background-color: var(--dk-black);
    color: var(--my-white);
    justify-content: left;
    align-content: left;
    width: 19vw;
    height: 8vh;
    border-radius: 7px;
    border-width: 0px;
    margin: 0vw;
    margin-top: 58vh;
    font-size: 1.5vh;
    position: absolute;
    resize: none;
}

button.post-comment-button {
	background-color: var(--dk-green);
    position:absolute;
    padding: .2vw;
    font-size: 1.6vh;
    color: white;
    border-width: 0vw;
    border-radius: 0px 0px 10px 0px;
    height: 4vh;
    width: 20vw;
    margin-top: 66vh;
}

.post-comment-button:active{
	background-color: var(--grey);
}