.navbar-search {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	position: absolute;
    margin-top: 4vw;
	margin-left: 25vw;
	width: 50vw;
	background-color: var(--lt-black);
	border-radius: 15px;
	border-width: 0cm;
    vertical-align: middle;
}

.navbar-search-input {
    width: 50vw;
	background-color: var(--lt-black);
	border-width: 0cm;
    border-radius: 15px;
}

.navbar-search-results {
    width: 50vw;
	background-color: var(--lt-black);
    border-radius: 15px;
    margin-top: 1vw;
}