body {
	font-size: 0.875rem;
	color: #fff;
	background-color: var(--dk-black);
}

.feather {
	width: 16px;
	height: 16px;
}

.center {
	width: 30%;
  	margin: 0 auto;
	padding-top: 10px;
	justify-content: center;
	text-align: center;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: var(--dk-green);
	border-radius: 30px;
	margin: .5vw;
	font-size: 1vw;
	width: 8vw;
	position: absolute;
	text-align: center;
}

.navbar-goto-stream {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: var(--lt-black);
	border-radius: 30px;
	margin: .5vw;
	width: 5vw;
	margin-left: 10vw;
	font-size: .6vw;
	text-align: center;
	position: absolute;
	color: var(--my-white);
}

.my-bg-dark {
	width: 100%;
	height: 8vh;
	background-color: var(--dk-black);
}

.logged-text {
	font-size: 2vh;
	color: var(--my-white);
}